* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    padding: 10px;
}

#github {
    position: absolute;
    top: 15px;
    right: 15px;
}

#github a {
    background: black;
    text-decoration: none;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 20px;
}

#arrow {
    width: 17px;
    height: 17px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.todo h2 img {
    width: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
}

input {
    flex: 1;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 17px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #1edd87;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 12px;
}

ul li.checked {
    color: #14bbb3;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    color: red;
    background: #edeef0;
}

@media (max-width: 600px) {
    .todo .row {
        flex-direction: column;
        background: white;
    }

    .todo .row input {
        background: #edeef0;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }

    #list {
        margin-top: 20px;
    }
}